{% load static %}
<html>

<head>
    <title>VirtualTours - Agents</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'agents/style.css' %}">

    <style>
        /* Always set the map height explicitly to define the size of the div
                 * element that contains the map. */
        #map {
            position: relative;
            height: 35%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Virtual Tours</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <a href="{% url 'signout' %}">
                            <button class="btn btn-primary navbar-btn">
                                <span class="glyphicon glyphicon-log-in"></span> LogOut
                            </button>
                        </a>
                    </ul>
                </div>
            </nav>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>